<section style="background-color: #eee">
  <div class="container py-5">
    <div class="row">
      <div
        class="col-md-12 col-lg-4 mb-4 mb-lg-0 py-2"
        *ngFor="let item of products"
      >
        <div class="card" (click)="productDetailPage(item)">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0">Today's Offer</p>
            <div
              class="bg-info rounded-circle d-flex align-items-center justify-content-center shadow-1-strong"
              style="width: 35px; height: 35px"
            >
              <p class="text-white mb-0 small">x2</p>
            </div>
          </div>
          <img src="{{ item.image }}" class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <h3 class="text-muted">{{ item.title }}</h3>

              <p class="small text-danger"><s>$750</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{ item.title }}</h5>
              <h5 class="text-dark mb-0">${{ item.price }}</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">
                Available: <span class="fw-bold">6</span>
              </p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              &nbsp;&nbsp;
              <button
                type="button"
                class="btn btn-col"
                style="background-color: #5eaf98; color: #fff"
                (click)="addToCart(item)"
              >
                View
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
